{% extends 'layout.html.twig' %}
{% block title %}
    Collection
{% endblock %}

{% block content %}
    <section class="collection">
        <div class="row container-fluid mx-auto">

            <div class="col-lg-6 col-xl-4 my-5">
                <div class="card">
                    <div class="card-title d-flex justify-content-around">
                        <p class="card-title">Nom</p>
                        <p class="card-title">Année</p>
                    </div>
                    <div class="card-body d-sm-flex align-items-center text-center">
                        <img src="/assets/images/piece-50ans.png" class="card-img mx-auto" alt="...">
                        <p class="card-text ml-3 text-left">This is a longer card with supporting text below as a
                            natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success w-25" type="button">En stock</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 my-5">
                <div class="card">
                    <div class="card-title d-flex justify-content-around">
                        <p class="card-title">Nom</p>
                        <p class="card-title">Année</p>
                    </div>
                    <div class="card-body d-sm-flex align-items-center text-center">
                        <img src="/assets/images/piece-50ans.png" class="card-img mx-auto" alt="...">
                        <p class="card-text ml-3 text-left">This is a longer card with supporting text below as a
                            natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success w-25" type="button">En stock</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 my-5">
                <div class="card">
                    <div class="card-title d-flex justify-content-around">
                        <p class="card-title">Nom</p>
                        <p class="card-title">Année</p>
                    </div>
                    <div class="card-body d-sm-flex align-items-center text-center">
                        <img src="/assets/images/piece-50ans.png" class="card-img mx-auto" alt="...">
                        <p class="card-text ml-3 text-left">This is a longer card with supporting text below as a
                            natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success w-25" type="button">En stock</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}