{% extends "layout.html.twig" %}
{% block title %}
    Admin - Vie du club
{% endblock %}

{% block content %}
    <section class="section events-admin container-fluid">
        <a href="/admin/index" class="btn btn-primary my-5">Retour</a>

{% endblock %}