{% extends "layout.html.twig" %}

{% block content %}

    <section class="section admin-collection container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="images d-flex align-items-center justify-content-center flex-column flex-md-row p-2">
                        <img src="/assets/images/alfonsoXII-recto.jpg" class="card-img-top m-3" alt="...">
                        <img src="/assets/images/alfonsoXII-verso.jpg" class="card-img-top m-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title title-section text-center mb-4">Charles VI - Agnel d'or</h5>
                        <p class="card-text">
                            <i class="far fa-calendar-alt mr-2"></i>1400
                        </p>
                        <p class="card-text">
                            <i class="fas fa-gavel mr-2"></i>Or
                        </p>
                        <p class="card-text">
                            <i class="fas fa-flag mr-2"></i>France
                        </p>
                        <p class="card-text mt-4">
                            <i class="fas fa-quote-right d-block mb-2"></i>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                        <a href="#" class="btn btn-primary btn-sm">Modifier</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="images d-flex align-items-center justify-content-center flex-column flex-md-row p-2">
                        <img src="/assets/images/alfonsoXII-recto.jpg" class="card-img-top m-3" alt="...">
                        <img src="/assets/images/alfonsoXII-verso.jpg" class="card-img-top m-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title title-section text-center mb-4">Charles VI - Agnel d'or</h5>
                        <p class="card-text">
                            <i class="far fa-calendar-alt mr-2"></i>1400
                        </p>
                        <p class="card-text">
                            <i class="fas fa-gavel mr-2"></i>Or
                        </p>
                        <p class="card-text">
                            <i class="fas fa-flag mr-2"></i>France
                        </p>
                        <p class="card-text mt-4">
                            <i class="fas fa-quote-right d-block mb-2"></i>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                        <a href="#" class="btn btn-primary btn-sm">Modifier</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="images d-flex align-items-center justify-content-center flex-column flex-md-row p-2">
                        <img src="/assets/images/alfonsoXII-recto.jpg" class="card-img-top m-3" alt="...">
                        <img src="/assets/images/alfonsoXII-verso.jpg" class="card-img-top m-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title title-section text-center mb-4">Charles VI - Agnel d'or</h5>
                        <p class="card-text">
                            <i class="far fa-calendar-alt mr-2"></i>1400
                        </p>
                        <p class="card-text">
                            <i class="fas fa-gavel mr-2"></i>Or
                        </p>
                        <p class="card-text">
                            <i class="fas fa-flag mr-2"></i>France
                        </p>
                        <p class="card-text mt-4">
                            <i class="fas fa-quote-right d-block mb-2"></i>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                        <a href="#" class="btn btn-primary btn-sm">Modifier</a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card shadow">
                    <div class="images d-flex align-items-center justify-content-center flex-column flex-md-row p-2">
                        <img src="/assets/images/alfonsoXII-recto.jpg" class="card-img-top m-3" alt="...">
                        <img src="/assets/images/alfonsoXII-verso.jpg" class="card-img-top m-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title title-section text-center mb-4">Charles VI - Agnel d'or</h5>
                        <p class="card-text">
                            <i class="far fa-calendar-alt mr-2"></i>1400
                        </p>
                        <p class="card-text">
                            <i class="fas fa-gavel mr-2"></i>Or
                        </p>
                        <p class="card-text">
                            <i class="fas fa-flag mr-2"></i>France
                        </p>
                        <p class="card-text mt-4">
                            <i class="fas fa-quote-right d-block mb-2"></i>
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-danger btn-sm">Supprimer</button>
                        <a href="#" class="btn btn-primary btn-sm">Modifier</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
