{% extends "layout.html.twig" %}

{% block content %}

    <section class="section edit-admin container">

        <h1 class="title-section text-center">Editer</h1>
        {{ dump(collections) }}
        <a href="/admin/index" class="btn btn-primary mb-5">Retour</a>

    </section>

{% endblock %}
