{% extends "layout.html.twig" %}

{% block content %}

    <section class="section events-admin container-fluid">
        <a href="/admin/index" class="btn btn-primary my-5">Retour</a>
    </section>

{% endblock %}