{% extends "layout.html.twig" %}

{% block content %}


<section class="section option container">
    <h2 class="title-section my-5 text-center">Gérer mes options</h2>

    <fieldset class="p-5 my-5" style="border: 1px solid darkblue">
        <legend><h3>Sujets des emails</h3></legend>

    </fieldset>

    <fieldset class="p-5 my-5" style="border: 1px solid darkblue">
        <legend><h3>Matériaux</h3></legend>

    </fieldset>

    <fieldset class="p-5 my-5"  style="border: 1px solid darkblue">
        <legend><h3>Origines des pièces</h3></legend>

    </fieldset>
</section>

{% endblock %}
