{% extends 'layout.html.twig' %}

{% block content %}

    <link rel="stylesheet" href="../assets/css/exhibition.css">

    <h2>Expositions</h2>

    <div class="card" style="width: 18rem;">
        {% for exhibition in exhibitions%}
            <img src="/assets/images/exhibition/{{ exhibition.image }}" class="card-img-top" alt="{{ exhibition.subject }}">
            <div class="card-body">
                <h5 class="card-title">{{ exhibition.subject }}</h5>
                <p class="card-text">{{ exhibition.detail }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}