.admin-collection {
    margin-top: 120px;
}
.admin-collection .btn-danger {
    border: none;
}
.admin-collection .card img {
    width: 40%;
}

@media (prefers-color-scheme: dark) {

    .form {
        background-color: #1e2931;
    }

}