.admin-collection {
    margin-top: 120px;
}
.admin-collection .btn-danger {
    border: none;
}
.admin-collection .card img {
    width: 40%;
}

.admin-collection .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: var(--medium-size);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.admin-collection .container-inner input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.admin-collection .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.admin-collection .container-inner:hover input ~ .checkmark {
    background-color: #ccc;
}

.admin-collection .container input:checked ~ .checkmark {
    background-color: var(--main-bg-color);
}

.admin-collection .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.admin-collection .container input:checked ~ .checkmark:after {
    display: block;
}

.admin-collection .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.admin-collection input[type='checkbox'] {
    display: none;
}

.admin-collection .lbl-toggle {
    font-size: var(--medium-size);
    text-align: center;
    padding: var(--spacing);
    color: var(--light);
    background: var(--main-bg-color);
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.25s ease-out;
}

.admin-collection .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.admin-collection .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 150vh;
}

@media (prefers-color-scheme: dark) {

    .form {
        background-color: #1e2931;
    }

}