.admin-dashboard {
    margin-top: 50px;
    margin-bottom: 50px;
}

.admin-dashboard .card {
    background: var(--light);
    height: 250px;
}
.admin-dashboard .circle {
    width: 15px;
    height: 15px;
    border-radius: var(--border-radius);
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 8px;
}
.admin-dashboard .card-text {
    margin-bottom: 5px;
    font-style: italic;
}