.messages .table td:first-child {
    width: 75px;
}
.messages .btn:focus {
    outline: 0;
    box-shadow: none;
}
.messages .btn {
    color: var(--light);
}
.messages .email {
    font-style: italic;
}
.messages .card-header {
    background: var(--light-grey);
}
.messages .accordion .card {
    border-radius: var(--light-radius);
}