<section class="action my-2 mx-auto p-2">
    <div class="row container-fluid mx-auto">
        <div class="col-12 col-md-3 d-flex align-items-center">
            <a href="#" class="btn btn-primary btn-lg mx-auto" disabled>Nous rendre visite</a>
        </div>
        <div class="col-12 col-md-9 d-flex align-items-center">
            <p class="m-0">Rejoignez une asociation dynamique, passionnée et proche de sa ville</p>
        </div>
    </div>
</section>