<section class="action mt-5 mx-auto p-2">
    <div class="row container-fluid mx-auto py-3">
        <div class="col-12 col-md-12 d-flex align-items-center justify-content-center">
            <p class="m-0 font-weight-bold">Rejoignez une association dynamique, passionnée et proche de sa ville</p>
        </div>
        <div class="col-12 col-md-12 d-flex align-items-center mt-3">
            <a href="#" class="btn btn-primary btn-lg mx-auto">Nous rendre visite</a>
        </div>
    </div>
</section>