<header class="header">
    <div class="text-presentation col-md-7 col-xs-12 text-center">
        <p>
            l'Association Numismatique du Centre réunit les passionnés de monnaies, jetons, billets et plus généralement d'histoire
        </p>
    </div>
    <div class="img-presentation col-md-4 col-xs-12 text-center">
        <img src="assets/images/anniversary_medal.png" alt="" title="">
    </div>
</header>