<header class="header d-md-flex align-items-center mt-5">
    <div class="text-presentation col-md-7 col-12 text-center">
        <p>
            l'Association Numismatique du Centre réunit les passionnés de monnaies, jetons, billets et plus généralement
            d'histoire
        </p>
    </div>
    <div class="img-presentation col-md-4 col-12 text-center">
        <img src="assets/images/collection/anniversary_medal.png" alt="Médaille anniversaire des 50 ans des numismate du centre"
             title="Médaille anniversaire des 50 ans des numismate du centre">
    </div>
</header>