<section class="association">
    <h2 class="title-section my-5 text-center">L'association</h2>
    <div class="container d-flex justify-content-around align-items-center">
        <img src="/assets/images/president-ANC.jpeg" alt="photo du président d'association" class="rounded-circle mr-5">
        <div class="association-text ml-5">
            <p>Créer en 1969, l’association compte aujourd’hui plus de 80 membres, (ce nombre n’ayant cessé de croître
                au cours de ces dernières années),
                et avec un agenda régional de plus de 200 noms, parmi les associations numismatiques, l’ANC est l’une
                des associations les plus importantes
                de France et l’une des toutes premières en région.</p>
            <p> Chaque mois, rencontrez et echangez avec des passionnés sur des thèmes historiques ou anecdotiques dans
                une ambiance conviviale.</p>
            <a href="#" class="btn btn-primary mt-3" disabled>En savoir plus</a>
        </div>
    </div>
</section>
