<section class="association">
    <h2 class="title-section my-5 text-center">L'association</h2>
    <div class="row container-fluid justify-content-center align-items-center mx-auto">
        <img class="col-lg-3" src="/assets/images/clublife/president-ANC.jpg" alt="photo du président d'association">
        <div class="col-lg-6 mt-4">
            <p>Créée en 1969, l’association compte aujourd’hui plus de 80 membres, (ce nombre n’ayant cessé de croître
                au cours de ces dernières années),
                et avec un agenda régional de plus de 200 noms, parmi les associations numismatiques, l’ANC est l’une
                des associations les plus importantes
                de France et l’une des toutes premières en région.</p>
            <p> Chaque mois, rencontrez et échangez avec des passionnés sur des thèmes historiques ou anecdotiques dans
                une ambiance conviviale.</p>
            <a href="/clublife/index" class="btn btn-primary mt-3">En savoir plus</a>
        </div>
    </div>
</section>
