<section class="association">
    <div>
        <h2 class="my-5">L'association</h2>
        <div class="association-content">
            <img src="/assets/images/president-ANC.jpeg" alt="photo du président d'association" class="rounded-circle">
            <div class="association-text">
                <p>Créer en 1969, l’association compte aujourd’hui plus de 80 membres, (ce nombre n’ayant cessé de croître au cours de ces dernières années),
                    et avec un agenda régional de plus de 200 noms, parmi les associations numismatiques, l’ANC est l’une des associations les plus importantes
                    de France et l’une des toutes premières en région.</p>
                <p> Chaque mois, rencontrez et echangez avec des passionnés sur des thèmes historiques ou anecdotiques dans une ambiance conviviale.</p>
            </div>
        </div>
    </div>
    <div class="action-btn col-12 col-md-3 mb-3">
        <a href="#"  class="btn btn-primary btn-lg" disabled>En savoir plus</a>
    </div>
</section>
