{% block makings %}
<section class="makings">
    <h2 class="makings-title py-2 text-center">Réalisations</h2>
    <div class="makings-content mt-5">
        <div class="association-emblem col-md-3 border rounded-lg ml-5">
            <img src="/assets/images/assoc-emblem.png" alt="Pièce emblème de l'association représentant une chouette">
            <p class="text-center mt-3">La chouette d'Athènes - symbole de l'association</p>
        </div>
        <div class="association-medals col-md-7 offset-md-1 justify-content-end">
            <div class="medals-images border rounded-pill">
                <div class="medal-40y mt-3 ml-3">
                    <img src="/assets/images/piece-40ans.png" alt="Pièce frappée pour les 40 ans de l'association">
                    <p class="text-center mt-3">Médaille en l'honneur des 40 ans de l'association</p>
                </div>
                <div class="medal-liberation mt-3">
                    <img src="/assets/images/piece-liberation.png" alt="Pièce frappée pour les 70 ans de la libération d'Orléans">
                    <p class="text-center mt-3">Médaille en l'honneur des 70 ans de la libération d'Orléans</p>
                </div>
                <div class="medal-50y mt-3 mr-3">
                    <img src="/assets/images/piece-50ans.png" alt="Pièce frappée pour les 50 ans de l'association'">
                    <p class="text-center mt-3">Médaille en l'honneur des 50 ans de l'association</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-collection mt-5">
        <p>L'association des numismates du centre a participé à la réalisation de plusieurs projets en rapport avec la numismatique ou l'histoire de la région.</p>
        <p>Venez découvrir une collection de pièces et médailles allant de l'antiquité au 50ème anniversaire de l'association en 2019.</p>
    </div>
</section
{% endblock %}