<section class="makings">
    <h2 class="title-section my-5 text-center">Réalisations</h2>
    <div class="row mx-auto">
        <div class="col-lg-4 col-12 text-center mb-4">
            <figure>
                <img class="w-75 h-75" src="/assets/images/collection/assoc-emblem.png"
                     alt="Pièce emblème de l'association représentant une chouette">
                <figcaption class="mt-3">La chouette d'Athènes - symbole de l'association</figcaption>
            </figure>
        </div>
        <div class="col-lg-8">
            <div class="mb-5 text-center">
                <p>L'association des numismates du centre a participé à la réalisation de plusieurs projets en
                    rapport avec la numismatique ou l'histoire de la région.</p>
                <p>Nous sommes particulièrement fiers de nos médailles commémorant les évènements marquants de notre
                    association et de notre ville.</p>
            </div>
            <div class="d-md-flex align-content-center justify-content-around text-center">
                <figure class="col-md-4 col-12">
                    <img src="/assets/images/collection/piece-40ans.png" alt="Pièce frappée pour les 40 ans de l'association">
                    <figcaption class="mt-3">Médaille en l'honneur des 40 ans de l'association</figcaption>
                </figure>
                <figure class="col-md-4 col-12">
                    <img src="/assets/images/collection/piece-liberation.png"
                         alt="Pièce frappée pour les 70 ans de la libération d'Orléans">
                    <figcaption class="mt-3">Médaille en l'honneur des 70 ans de la libération d'Orléans</figcaption>
                </figure>
                <figure class="col-md-4 col-12">
                    <img src="/assets/images/collection/piece-50ans.png" alt="Pièce frappée pour les 50 ans de l'association'">
                    <figcaption class="mt-3">Médaille en l'honneur des 50 ans de l'association</figcaption>
                </figure>
            </div>
            <div class="text-center my-5">
                <p class="collection-text-cta font-weight-bold">
                    Venez découvrir une collection de pièces et médailles allant de l'antiquité au 50ème anniversaire de
                    l'association en 2019.
                </p>
                <a href="/collection/index" class="btn btn-primary mt-3">Parcourir notre collection</a>
            </div>
        </div>
    </div>
</section>