{% block makings %}
<section class="makings">
    <div class="association-emblem">
        <img src="/assets/images/assoc-emblem.png" alt="Pièce emblème de l'association représentant une chouette">
        <p>La chouette d'Athènes, symbole de l'association</p>
    </div>
    <div class="association-medals">
        <div class="text-description">
            <h2>Réalisations</h2>
            <p>L'association des numismates du centre a participé à la réalisation de plusieurs projets en rapport avec la numismatique ou l'histoire de la région.</p>
            <p>Venez découvrir une collection de pièces et médailles allant de l'antiquité au 50ème anniversaire de l'association en 2019.</p>
        </div>
        <div class="medals-images">
            <div class="medal-40y">
                <img src="/assets/images/piece-40ans.png" alt="Pièce frappée pour les 40 ans de l'association">
                <p>Médaille en l'honneur des 40 ans du club</p>
            </div>
            <div class="medal-liberation">
                <img src="/assets/images/piece-liberation.png" alt="Pièce frappée pour les 70 ans de la libération d'Orléans">
                <p>Médaille en l'honneur des 70 ans de la libération d'Orléans</p>
            </div>
            <div class="medal-50y">
                <img src="/assets/images/piece-50ans.png" alt="Pièce frappée pour les 50 ans de l'association'">
                <p>Médaille en l'honneur des 50 ans</p>
            </div>
        </div>
    </div>
</section
{% endblock %}