{% block realisations %}
<div class="text-description">
    <h2>Réalisations</h2>
    <p>L'association des numismates du centre a participé à la réalisation de plusieurs projets en rapport avec la numismatique ou l'histoire de la région.</p>
    <p>Venez découvrir une collection de pièces et médailles allant de l'antiquité au 50ème anniversaire de l'association en 2019.</p>
</div>
{% endblock %}