{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Home/_header.html.twig' %}
    {% include 'Home/_realisations.html.twig' %}
    {% include 'Home/_callToAction.html.twig' %}


    <div class="container-fluid">
        {% include 'Home/_events.html.twig' %}
        {% include 'Home/_makings.html.twig' %}
    </div>

>>>>>>> dev
{% endblock %}
