{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Home/_header.html.twig' %}
    <div class="container-fluid">
        {% include 'Home/_events.html.twig' %}
    </div>

{% endblock %}
