<footer>
    <div class="footer row container-fluid d-flex justify-content-around mx-auto">
        <div class="col-md-2 text-center">
            <h2>Siège Social et Courrier</h2>
            <ul>
                <li>Maison Sonis</li>
                <li>3, allée du 2ème</li>
                <li>Régiment de Hussards</li>
                <li>45000 Orléans</li>
            </ul>
        </div>
        <div class="col-md-2 text-center">
            <h2>Contact</h2>
            <ul>
                <li>Association Numismatique du Centre A.N.C</li>
                <li>anc.orleans@laposte.net</li>
            </ul>
        </div>
        <div class="col-md-2 text-center">
            <h2>Lieu Des Réunions</h2>
            <ul>
                <li><strong>Complexe de l'Argonaute</strong></li>
                <li>73 Boulevard Marie Stuart</li>
                <li>45000 Orléans</li>
                <li>Le premier dimanche de chaques mois de 09h à 12h</li>
            </ul>
        </div>
    </div>
    <div class="legal">
        <a href="/legal/privacyPolicy">Mentions légales</a>
    </div>
</footer>