{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="/assets/images/piece-50ans.png" width="60" height="60" alt="Pièce frappée par l'association à l'occasion de ses 50 ans">Association des numismates du centre</a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Vie du club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Expositions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Evènements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}