{% extends "layout.html.twig" %}

{% block content %}

    <section class="section add-coin-admin edit-coin-admin container">

        <h1 class="title-section text-center mb-5">Ajouter une pièce</h1>
        <a href="/admin/collection" class="btn btn-primary mb-5">Retour</a>

        <form action="#" method="post" enctype="multipart/form-data" class="p-4">
            <div class="row">
                <div class="col text-center">
                    <div class="custom-file my-4">
                        <input type="file" class="form-control-file" id="image-recto" name="image-recto" size="100000">
                        <label for="image-recto" class="mt-2">Choisir une image</label>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="custom-file my-4">
                        <input type="file" class="form-control-file" id="image-verso" name="image-verso">
                        <label for="image-verso" class="mt-2">Choisir une image</label>
                    </div>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-6">
                    <label for="name">Nom de la pièce</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="origin">Origine</label>
                    <select class="form-control" name="origin_id" id="origin">
                        <option value="" selected>Sélectionner une origine</option>
                        {% for origin in origins %}
                            <option value="{{ origin.id }}">{{ origin.country }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-4">
                    <label for="year">Année</label>
                    <input class="form-control" type="text" name="year" id="year">
                </div>
                <div class="form-group col-md-4">
                    <label for="metal">Matériaux</label>
                    <select class="form-control" name="metal_id" id="metal">
                        <option value="" selected>Sélectionner un matériaux</option>
                        {% for metal in metals %}
                            <option value="{{ metal.id }}">{{ metal.material }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="stock">Stock</label>
                    <input class="form-control" type="text" name="stock" id="stock">
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group form-summernote">
                    <label for="summernote">Description</label>
                    <textarea class="form-control" name="description" id="summernote" cols="150" rows="10"></textarea>
                </div>
            </div>
            <div class="form-row my-4">
                <button class="btn btn-primary ml-auto">Enregistrer</button>
            </div>
        </form>

    </section>

{% endblock %}
