{% extends 'layout.html.twig' %}

{% block title %}
    Ajout Évènement
{% endblock %}

{% block content %}

    <section class="section add-event-admin container">

        <h1 class="title-section text-center mb-5">Ajouter</h1>
        <a href="/admin/event" class="btn btn-primary mb-5">Retour</a>

        <form action="" method="post" enctype="multipart/form-data" class="p-4">
            <div class="row">
                <div class="col text-center">
                    <div class="custom-file my-4">
                        <input type="file" class="custom-file-input" id="image" name="image">
                        <label class="custom-file-label" for="image">Choisir une image</label>
                    </div>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-6">
                    <label for="name">Nom de l'évènement</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-3">
                    <label for="start_date">Date de début de l'évènement</label>
                    <input class="form-control" type="date" name="start_date" id="start_date" required>
                </div>
            </div>
            <div class="form-row my-4">
                <div class="form-group col-md-3">
                    <label for="end_date">Date de fin de l'évènement</label>
                    <input class="form-control" type="date" name="end_date" id="end_date">
                </div>
            </div>
            <div class="form-row my-4">
                <button class="btn btn-primary ml-auto">Ajouter</button>
            </div>
        </form>

    </section>

{% endblock %}