.clublife img {
    height: 300px;
    width: 400px;
}

.activity_images {
    margin: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.clublife-admin img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}


.custom-file-label {
    cursor: pointer;
    font-weight: bold;
}

.custom-file-input {
    display: none;
}


@media (max-width: 800px) {

    .clublife img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        min-width: 250px;
        max-width: 350px;
    }

    .d-md-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activity_images {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .activity_images img {
        margin-top: 20px;
    }

}

