.clublife img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.activity_images {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
}

.clublife-admin img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}
