body {
    background-color: var(--main-bg-color);
    color: var(--light);
}

.btn {
    background-color: var(--second-bg-color);
    width: 10%;
}

.button {
    display: flex;
    justify-content: space-around;
}