body {
    background-color: var(--main-bg-color);
    color: var(--light);
}

.contact {
    margin-top: 120px;
    margin-bottom: 80px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--second-bg-color);
}

.contact .form {
    padding: var(--spacing);
}

.button {
    display: flex;
    justify-content: space-around;
}

.contact li {
    list-style: none;
}

.contact .btn {
    background-color: var(--second-bg-color);
    width: 30%;
    margin: 25px 0;
}

@media screen and (max-width: 575px) {
    .contact .btn {
        width: 100%;
    }
    .contact .button .btn:last-child {
        width: 50%;
        max-width: 150px;
        margin: 30px auto auto;
    }
}