.events-page .card {
    border-radius: var(--light-radius);
}

.events-page .card img {
    border-radius: var(--light-radius) 0 0 var(--light-radius);
}

.events-page img {
    object-fit: cover;
    width: 310px;
    height: 310px;
}
