.eventspage{
    justify-content: center;
}

.eventspage .card {
    border: none;
}



.row:nth-of-type(even){
    flex-direction: row-reverse;
}

hr {
    background-color: var(--second-bg-color);
}

.row {
    display: flex;
    justify-content: space-between;
}

.eventspage img {
    height: 300px;
    width: 400px;
}
