.exhibition {
    margin-top: 120px;
}

.exhibition img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.exhibition .card{
    min-height: 450px;
}

.exhibition .btn-custom{
    bottom: 0;
    right: 0;
}

.exhibition-modal-title {
    font-family: var(--title-font);
    font-size: var(--medium-size);
}

@media (prefers-color-scheme: dark) {

    .modal-content {
        background-color: var(--second-bg-color);
    }
}