.navbar {
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: var(--main-bg-color);
}

.navbar-brand {
    font-weight: bold;
    margin-left: var(--spacing-sm);
    font-size: var(--medium-size);
    font-family: var(--title-font);
}

.navbar-collapse {
    background-color: var(--main-bg-color);
}

.navbar-toggler {
    margin-right: var(--spacing-sm);
}

.nav-link {
    margin-left: var(--spacing-sm);
    font-size: var(--main-size);
}



