@import url('https://fonts.googleapis.com/css?family=Cinzel|Roboto&display=swap');

:root {

    --main-font: 'Roboto', sans-serif;

    --title-font: 'Cinzel', serif;

    --main-bg-color: #334159;

    --second-bg-color: #B5926F;

    --dark: #16171A;

    --grey: #3E4352;

    --light: #E5EBF4;

    --border-radius: 25px;

    --box-shadow: 10px 10px 5px var(--grey);
}