@import url('https://fonts.googleapis.com/css?family=Cinzel|Roboto&display=swap');
@import "navbar.css";
@import "homePage/header.css";

@import 'footer.css';

:root {
    /*Font*/
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Cinzel', serif;

    /*Font Size*/
    --main-size: 16px;
    --medium-size: 20px;
    --large-size: 28px;

    /*Color*/
    --main-bg-color: #334159;
    --second-bg-color: #B5926F;
    --dark: #16171A;
    --grey: #3E4352;
    --light: #E5EBF4;

    /*Radius & Shadow*/
    --border-radius: 25px;
    --box-shadow: 10px 10px 5px var(--grey);

    /*Spacing*/
    --spacing-sm: calc(var(--spacing) / 2);
    --spacing: 16px;
    --spacing-lg: calc(var(--spacing) * 2);
}

/**
* general statements
 */
body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--main-size);
}

h1, h2, h3, h4 {
    font-family: var(--title-font);
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
