.collection {
    margin-bottom: 0;
    padding-bottom: 80px;
}

.collection .modal-footer {
    font-family: var(--title-font);
    font-size: var(--medium-size);
    border-top: 1px solid var(--second-bg-color);
    background-color: rgba(0, 0, 0, .03);
}

.collection .modal-header {
    background-color: var(--main-bg-color);
    color: var(--light);
    font-size: var(--large-size);
}

.coin-stock .btn {
    background-color: var(--main-bg-color);
}

.collection {
    margin-top: 120px;
}

.collection .card img {
    width: 40%;
}

.modal-img {
    width: auto;
    height: auto;
    max-width: 175px;
}

.modal-coin-title,
.modal-coin-year {
    font-family: var(--title-font);
    font-size: var(--medium-size);
}

.description-text {
    font-size: var(--medium-size);
}

/* Formulaire de tri pièces */
.collection .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: var(--medium-size);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.collection .container-inner input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.collection .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.collection .container-inner:hover input ~ .checkmark {
    background-color: #ccc;
}

.collection .container input:checked ~ .checkmark {
    background-color: var(--main-bg-color);
}

.collection .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.collection .container input:checked ~ .checkmark:after {
    display: block;
}

.collection .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.collection input[type='checkbox'] {
    display: none;
}

.collection .lbl-toggle {
    font-size: var(--medium-size);
    text-align: center;
    padding: var(--spacing);
    color: var(--light);
    background: var(--main-bg-color);
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.25s ease-out;
}

.collection .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.collection .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 150vh;
}

/*Fin formulaire de tri pièces*/

@media screen and (max-width: 576px) {
    .collection .card-title,
    .collection .card-footer {
        flex-direction: column;
        align-items: center;
    }

    .collection .card-body img {
        margin: 0 var(--spacing);
    }
}

@media screen and (max-width: 528px) {
    .collection .card-body img {
        margin: var(--spacing) 0;
    }
}

@media screen and (max-width: 768px) {
    .collection .wrap-collabsible {
        padding-right: 35px;
    }

    .collection .content-inner {
        margin-left: -5px;
    }
}

@media (prefers-color-scheme: dark) {

    .collection .lbl-toggle {
        background: var(--button-bg-color);
    }

    .collection .lbl-toggle:hover {
        background: var(--button-hover-bg-color);
    }

    .collection .coin-stock .btn {
        background: var(--button-bg-color);
    }

    .collection .modal-content {
        background: var(--second-bg-color);
    }

}