.collection {
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 80px;
    background-color: rgba(0,0,0,.03);
}

.card-body img {
    width: 180px;
    height: 180px;
}

.card-title {
    color: var(--light);
    font-family: var(--title-font);
    font-size: var(--medium-size);
    background-color: var(--main-bg-color);

}.card-footer,
 .modal-footer {
    font-family: var(--title-font);
    font-size: var(--medium-size);
    border-top: 1px solid var(--second-bg-color);
    background-color: rgba(0,0,0,.03);
}

 .modal {
     display: none;
 }

 .modal-header {
     background-color: var(--main-bg-color);
     color: var(--light);
     font-size: var(--large-size);
 }

.card-title p,
.card-footer p {
    margin-bottom: 0;
}

.coin-stock .btn {
    background-color: var(--main-bg-color);
}

.card {
    border-radius: 8px;
}

.modal-img {
    width: auto;
    height: auto;
}

.modal-coin-title,
.modal-coin-year {
    font-family: var(--title-font);
    font-size: var(--medium-size);
}

@media screen and (max-width: 465px) {
    .card-title,
    .card-footer {
        flex-direction: column;
        align-items: center;
    }
}