.collection {
    margin-top: 80px;
    background-color: var(--light);
}

.collection img {
    width: 180px;
    height: 180px;
}

.card-title {
    font-family: var(--title-font);
    font-size: var(--medium-size);
}

.card-title p::after {
    content: "";
    display: block;
    height: 1px;
    width: 70%;
    margin: auto auto;
    background-color: var(--second-bg-color);
}

.coin-stock .btn {
    background-color: var(--main-bg-color);
}

.card {
    border-radius: 8px;
}

@media screen and (max-width: 465px) {
    .card-title {
        flex-direction: column;
        align-items: center;
    }
}