.action {
    background-color: var(--second-bg-color);
    font-size: var(--main-size);
    box-shadow: 0 0 6px var(--main-bg-color);
}

.action p{
    font-size: var(--large-size);
    color: var(--dark);
    font-family: var(--title-font);
}

@media screen and (max-width: 900px) {
    .action {
        flex-direction: column;
    }
}