.events .title-section {
    font-weight: bold;
}
.events .card {
    min-width: 300px;
}
.events .card img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}
@media screen and (min-width: 1200px) {
    .events .card {
        max-width: 420px;
    }
}