.header {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(255, 255, 255, .9)),
    center top / cover url("../../images/bg_header.jpeg") fixed;
    height: 500px;
    text-transform: uppercase;
    margin-top: 80px;
}

.header img {
    width: 400px;
    height: 400px;
}

.header .text-presentation {
    font-size: 36px;
}

@media screen and (max-width: 950px) {
    .header img {
        width: 300px;
        height: 300px;
    }
    .header .text-presentation {
        font-size: var(--large-size);
    }
}

@media screen and (max-width: 800px) {
    .header img {
        width: 200px;
        height: 200px;
    }
}