.association{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.association h2{
    text-align: center;
    font-weight: bold;
    font-family: var(--title-font);
}

.association img{
    width: 280px;
    height: 220px;
}

.association-content{
    display: flex;
    justify-content: space-around;
}

.association-text{
    width: 60%;
}

.action-btn{
    display: flex;
    align-self: flex-end;
}